POSTGRES_DB=store_inventory
POSTGRES_USER=storeuser
POSTGRES_PASSWORD=storepass
POSTGRES_PORT=5432
APP_VERSION=v1
DB_HOST=postgres
DB_PORT=5432
DB_NAME=store_inventory
DB_USER=storeuser
DB_PASSWORD=storepass
